.location {
  margin: 96px auto 160px auto;
  @include pad {
    margin: 60px auto 96px auto;
  }
  @include mobile {
    margin: 28px auto 56px auto;
  }
}

.area-selector {
  font-size: $font-size-lg;
  @include pad {
    font-size: $font-size-base;
  }
  display: flex;
  align-items: center;
  @include mobile {
    label {
      width: 20%;
    }
  }
  select {
    width: 30%;
    @include mobile {
      width: 80%;
    }
    padding: 10px 20px;
    border: 1px solid #ced4da;
    color: #495057;
    ::placeholder {
      opacity: 0.75;
    }
  }
}

.stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > :last-child {
    margin-right: auto;
    margin-left: 2%;
    @include pad {
      margin: 0;
    }
  }
  > li {
    width: 32%;
    @include pad {
      width: 47%;
    }
    @include mobile {
      width: 100%;
    }
  }
  img {
    height: 224px;
    @include pad {
      height: 164px;
    }
    width: 100%;
  }
  button {
    width: 100%;
    color: $light;
    background-color: $dark;
    padding: 20px 0;
    @include pad {
      padding: 16px 0;
    }
    cursor: pointer;
    border: 0;
    &:hover {
      opacity: 0.7;
    }
  }
}
