.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  @include pad {
    max-width: 720px;
  }
  @include mobile {
    max-width: 375px;
  }
}

a {
  color: white;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  color: $primary;
  @include pad {
    font-size: 32px;
  }
  @include mobile {
    font-size: 20px;
  }
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

.mb-10 {
  margin-bottom: 40px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-8 {
  margin-right: 32px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-5 {
  margin-left: 20px;
}

.ml-8 {
  margin-left: 32px;
}

.ta-c {
  text-align: center;
}

.js-fe {
  justify-content: flex-end;
}
