@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");

a {
  color: white;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  color: $primary;
  @include pad {
    font-size: 32px;
  }
  @include mobile {
    font-size: 20px;
  }
}

.border-title {
  font-size: 48px;
  @include mobile {
    font-size: $font-size-lg;
  }
  font-weight: bold;
  color: $dark;
  padding: 0 16px;
  border-left: 8px solid #9f1213;
  @include pad {
    border-left: 4px solid #9f1213;
  }
}
